<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Arbitrary wave generator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src=vue-trend.js></script>
    </head>
    <body>
        <div id="app">
            <nav class="navbar warning">
                <legend class="navbar-text">
                    Home
                </legend>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <legend>Parameters</legend>
                        <div v-for="param in parameters">
                            <input type="text" :placeholder="[[param.name]]"/>
                            <label>{{param.unit}}</label>
                        </div>
                    </div>
                    <div class="col">
                        <legend>Waveform</legend>
                        <div v-for="waveform in waveforms">
                            <input :id="waveform" type="radio" :value="waveform" v-model="picked">
                            <label :for="waveform">{{waveform}}</label>
                        </div>
                    </div>
                    <div class="col">
                        <legend>Connection</legend>
                        <input type="text" placeholder="Ip address"/>
                        <input id="Enviar" type="submit" value="Enviar"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <trend
                        :data="wavedata[picked]"
                        :gradient="['#42b983', '#2c3e50']"
                        auto-draw
                        smooth>
                    </trend>
                </div>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>
